configuration {
    modi: "drun";
    show-icons: false;
    terminal: "kitty";
    drun-display-format: "{name}";
    location: 0;
    display-history: false;
    hide-scrollbar: true;
    font: "JetBrains Mono 12";
}
@theme "~/dotfiles/rofi/.config/rofi/themes/my-theme.rasi"
