/* Define Pywal colors */
@define-color foreground #dfdfdf;
@define-color background #0b0b0b;
@define-color cursor #dfdfdf;

@define-color color0 #0b0b0b;
@define-color color1 #737272;
@define-color color2 #837475;
@define-color color3 #8D8C8C;
@define-color color4 #A19F9F;
@define-color color5 #ACABAB;
@define-color color6 #C0BFBF;
@define-color color7 #dfdfdf;
@define-color color8 #9c9c9c;
@define-color color9 #737272;
@define-color color10 #837475;
@define-color color11 #8D8C8C;
@define-color color12 #A19F9F;
@define-color color13 #ACABAB;
@define-color color14 #C0BFBF;
@define-color color15 #dfdfdf;

/* Define scarlet red */
@define-color scarlet-red #ff2400;

/* Dark Theme with Red Highlights */
* {
    font-family: "JetbrainsMono Nerd Font", "FiraCode Nerd Font";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
    border: none;
    text-decoration: none;
    box-shadow: none;
}

window#waybar {
    background: transparent;
    color: @foreground; 
    transition-property: background-color, border-radius;
    transition-duration: 0.1s;
}

#custom-window {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
    background: @color4;
    color: @background; 
    border: 2px solid @color4; 
    border-radius: 10px;
}

#custom-player {
    margin: 2px 0px;
    padding-left: 8px;
    padding-right: 8px;
    background: @color2; 
    color: @background; 
    border: 2px solid @color2; 
    border-radius: 10px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @scarlet-red; 
    border-top: 2px solid @scarlet-red; 
}

#workspaces button {
    padding: 0 4px;
    color: @color8; 
    background: transparent;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

#workspaces button.focused {
    border: 2px solid @color6; 
    border-radius: 5px;
}

#workspaces button.active {
    border: 2px solid @color4;
    border-radius: 5px;
}
#workspaces button.urgent {
    background-color: @scarlet-red;
    border: 2px solid @scarlet-red;
    border-radius: 5px;
    color: @background; 
}
#custom-updater,
#pulseaudio,
#clock,
#backlight,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#custom-updater {
    background: @color4;
    color: @background;
    border: 2px solid @color14;
    border-radius: 10px;
}

#clock {
    color: @color14; 
    border: 2px solid @color14; 
    border-radius: 10px;
}


#pulseaudio {
    color: @color14; 
    border: 2px solid @color14;
    border-radius: 10px;
}

#network {
    color: @color14; 
    border: 2px solid @color14; 
    border-radius: 10px;
}

#idle_inhibitor {
    margin-right: 12px;
    color: @color10; 
}

#idle_inhibitor.activated {
    color: @scarlet-red;
}

#backlight {
    color: @color14;
    border: 2px solid @color4;
    border-radius: 10px;
}

#battery {
    color: @color14; 
    border: 2px solid @color4; 
    border-radius: 10px;
}

#battery.critical {
    color: @scarlet-red;
}

#cpu {
    background: @color4;
    color: @background;
    border: 2px solid @color4;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px
}

#cpu.critical {
    color: @scarlet-red;
    border-color: @scarlet-red; 
}


#memory {
    background: @color4;
    color: @background;
    border: 2px solid @color4;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 2px 4px;
}

#memory.critical {
    color: @scarlet-red; 
    border-color: @scarlet-red;
}

#disk {
    background: @color4;
    color: @background;
    border: 2px solid @color4;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 2px 4px;
}

#disk.critical {
    color: @scarlet-red;
    border-color: @scarlet-red;
}

#custom-vpn {
    color: @color5; 
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

tooltip {
    font-size: 14px;
    background: @background; 
    color: @foreground; 
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
    border-radius: 10px;
}
